# Ignore Play! working directory #
.classpath
.project
/.settings/
/eclipse/
bin/
/db
.eclipse
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
