<script type='text/javascript' src="@{'/public/javascripts/jquery-1.8.3.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery-migrate.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.pop.js'}"></script>
 #{script src:"jquery.validate.min.js"/}
 %{ user = (_caller.user) }%
          <style type="text/css">
        #slider .rslides, #slider .rslides li { height: 350px; max-height: 350px; }
        #slider .rslides img { height: 100%; max-height: 350px; }
        
        .login_box {
            display: none;
            background: #fff;
            border: 2px solid #ba2327;
            width: 446px;
            position: fixed;
            left: 50%;
            top: 240px;
            overflow: hidden;
            z-index: 20;
        }
        
        .filter {
            z-index: 30;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2300px;
            background-color: #dddddd;
            _filter: alpha(opacity=60);
            filter: alpha(opacity=60);
            -moz-opacity: 0.6;
            -khtml-opacity: 0.6;
            opacity: 0.6;
        }
        
        .login_close {
            padding: 10px 10px 0 0;
            text-align: right;
        }
        .login_close a {
            display: inline-block;
            background-position: 0 0;
            width: 24px;
            height: 22px;
        }
        .login_title {
            text-align: center;
            color: #c9243b;
            font-size: 22px;
            font-family: 'Microsoft YaHei';
            margin: 8px 0 34px;
        }
        .login_p {
        	padding: 2%;
        	margin:10px auto;
        	
           
        }
        .login_p label, .login_p input {
            vertical-align: middle;
            display: inline-block;
        }
        .login_p label {
        	text-align: right;
            color: #444;
            font-weight: 700;
            font-size: 13px;
            width: 102px;
        }
        .login_p input {
            width: 208px;
            height: 26px;
            line-height: 26px;
            border: 1px solid #b8b8b8;
            padding: 0 2px;
        }
        
        .login_btn {
            text-align: center;
            font-size: 14px;
            margin: 34px 34px 15px;
        }
        .login_btn label, .login_btn input {
            vertical-align: middle;
            display: inline-block;
        }
        .login_btn label {
            color: #444;
            font-weight: 700;
            width: 52px;
        }
        .login_btn input {
            width: 208px;
            height: 36px;
            line-height: 26px;
            border: 1px solid #b8b8b8;
            padding: 0 2px;
        }
         #username-error  {
             color: red;
    		font-size: 10px;
    		font-weight: 100;
    		width: 82px;
        }
         #passwd-error  {
             color: red;
    		font-size: 10px;
    		font-weight: 100;
    		width: 82px;
        }
        #errormsg  {
             color: red;
    		 text-align: center;
        }
        
        
        .regist {
            text-align: center;
        }
        .regist a {
            font-size: 13px;
            display: inline-block;
            background-position: 0 0;
            width: 100px;
            height: 22px;
            color: #0052FF;
        }
        </style>
      
        
        
        <script type="text/javascript">
        $(function() {
            $('#loginBtn').click(function() {
                $('#loginBox').popup({
                    filter : '#filter'
                });
            });
            $('#loginClose').click(function() {
                $('#loginBox').pophide({
                    filter : '#filter'
                });
            });
            $('#regist').click(function() {
                $('#loginBox').pophide({
                    filter : '#filter'
                });
                $('#registBox').popup({
                    filter : '#filter'
                });
            });
            $('#registClose').click(function(){
                $('#registBox').pophide({
                    filter : '#filter'
                });
            });
            
            $('#login').click(function() {
            	var user = $('#login_username').val();
            	var pass = $('#login_passwd').val();
            
            });
            
            
            $("form[name='loginform']").submit(function() {
            	var user = $('#login_username').val();
            	var pass = $('#login_passwd').val();
            	
            	
                  //return false;
            });
            $("form[name='regform']").submit(function() {
            	var user = $('#login_username').val();
            	var pass = $('#login_passwd').val();
            	
            	
                  //return false;
            });
            
            
            
            
            $("#loginform").validate({
   			 
  			  onsubmit:true,
  			   invalidHandler: function(form, validator) {  //不通过回调 
  				   
  			       return false; 
  			          } ,
  			          
  			
  			          
  			   submitHandler:function(){
  				  
  				   $.ajax({
  		                cache: true,
  		                type: "POST",
  		                url:"@{Application.login()}",
  		                data:$('#loginform').serialize(),// 你的formid
  		                async: false,
  		                error: function(request) {
  		                    //alert("Connection error");
  		                    
  		                  
  		                },
  		                success: function(data) {
  		                	
  		                	if(data=="failed"){
  		                		$("#errormsg").css('display','block');
  		                		
  		                	}else{
  		                		parent.location.href="/index";
  		                	}
  		                	
  		                	
  		                }
  		            });
  				   
  				  
  				
  			   }       
  			 
  		 });
            
            
        //////////////////////
        
            $("#regform").validate({
       		 
      		  onsubmit:true,
      		   invalidHandler: function(form, validator) {  //不通过回调 
      			   
      		       return false; 
      		          } ,
      		          
      		   rules:{	username: {
      				    required: true,
      				    minlength: 3,
      				    remote:{                                          //验证用户名是否存在
      			               type:"GET",
      			               url:"/checkUser",             //servlet
      			               data:{
      			                 name:function(){return $("#username").val();}
      			               } 
      			              } 
      				   },
      			   passwd: {
      				    required: true,
      				    minlength: 6
      				   },
      			  repassswd: {
      				    required: true,
      				    minlength: 6,
      				    equalTo: "#passwd"
      				   }
      		          
      		   },        
      		          
      		   submitHandler:function(){
      			   
      			   $.ajax({
      	                cache: true,
      	                type: "POST",
      	                url:"/reg",
      	                data:$('#regform').serialize(),// 你的formid
      	                async: false,
      	                error: function(request) {
      	                    alert("Connection error");
      	                },
      	                success: function(data) {
      	                	
      	                	parent.location.href="/index";
      	                }
      	            });
      			   
      			  
      		   }       
      		 
      	 });
      	 
      	 jQuery.extend(jQuery.validator.messages, {
      	        required: "必选字段",
      	  remote: "用户名已经被注册",
      	  email: "请输入正确格式的电子邮件",
      	  url: "请输入合法的网址",
      	  date: "请输入合法的日期",
      	  dateISO: "请输入合法的日期 (ISO).",
      	  number: "请输入合法的数字",
      	  digits: "只能输入整数",
      	  creditcard: "请输入合法的信用卡号",
      	  equalTo: "请再次输入相同的值",
      	  accept: "请输入拥有合法后缀名的字符串",
      	  maxlength: jQuery.validator.format("请输入长度最多是{0}的字符串"),
      	  minlength: jQuery.validator.format("请输入长度最少是{0}的字符串"),
      	  rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
      	  range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
      	  max: jQuery.validator.format("请输入一个最大为{0} 的值"),
      	  min: jQuery.validator.format("请输入一个最小为{0} 的值")
      	});
              
              
                  
        
            
            
        });
        
        </script>
        <form name = "loginform" id="loginform" action = "@{Application.login()}" method="post">
		
        <div id="loginBox" class="login_box">
            <p class="login_close">
                <a id="loginClose" onclick="closelogin">关闭</a>
            </p>
            <p class="login_title">
                您还没有登录，请先登录！
            </p>
            <p class="login_p">
                <label>用户名：</label>
                <input id="login_username" name="login_username" type="text">
            </p>
            <p class="login_p">
                <label>密&nbsp;&nbsp;码：</label>
                <input id="login_passwd" name="login_passwd" type="password">
            </p>
            <p id="errormsg"  style="display:none;"  > <font color ='red'>用户名或者密码错误请重试！<font> </p>
            <p class="login_btn">
            
            <input type="submit" value="点击登录" />
            </p>
            <p class="regist">
                <a id="regist">您还没注册吗？</a>
            </p>
        </div>
        <div class="filter" style="display:none" id="filter"></div>
		</form>
		
		<form name = "regform" id="regform" action = "@{Application.reg()}" method="post">
        <div id="registBox" class="login_box">
            <p class="login_close">
                <a id="registClose" onclick="closeregist">关闭</a>
            </p>
            <p class="login_title">
                用户注册
            </p>
            <p class="login_p">
                <label>用户名：</label>
                <input id="username" name="username" type="text">
            </p>
            <p class="login_p">
                <label>输入密码：</label>
                <input id="passwd" name="passwd" type="password">
            </p>
            <p class="login_p">
                <label>确认密码：</label>
                <input id="passwd" name="repassswd" type="password">
            </p>
            <p class="login_btn">
           
             <input type="submit" value="确定" style="margin-bottom:20px" />
            </p>
        </div>
        </form>
		
	

            <div id="pre-header">
                <div class="wrap-safari">
                    <div id="pre-header-core" class="main-navigation"></div>
                </div>
            </div>
            <!-- #pre-header -->

            <div id="header">
                <div id="header-core">

                    <div id="logo">
                        <!-- <a rel="home" href="http://localhost/"><h1 rel="home"
                                class="site-title" title="用电通">用电通</h1></a> --> 
                        <img alt="logo" src="@{'/public/images/logo.jpg'}">
                    </div>

                    <div id="header-links" class="main-navigation">
                        <div id="header-links-inner" class="header-links">
                            <ul class="menu">
                                #{if user}
                                %{
					                String uname=user.username;
					                if(uname.length()>6){
					                uname=uname.substring(0,6)+"...";
					                }
   				                }%
   				                <li class="current_page_item"><a id="loginoutBtn" href="@{Application.logout()}">${uname}，退出</a></li>
   				                 <li class="current_page_item"><a id="loginoutBtn" href="/yongdianguanjia">我的用电管家</a></li>
   				                
   				                <!--  
   				                <li class="current_page_item"><a id="loginoutBtn" href="/personal">我的工单</a></li>
   				               -->
                                #{/if} 
                                #{else}
                                <li class="current_page_item"><a  id="loginBtn">登陆 / 注册</a></li>
                                #{/else}
                                <li class="page_item page-item-14">
                                    <a href="/index">首页</a></li>
                                    
                                #{if user}    
                                <li class="page_item page-item-14"><a
                                    href="/ywbl?type=6">业务咨询</a></li>
                                <li class="page_item page-item-16"><a
                                    href="/ywbl?type=3">工程服务</a></li>
                                    
                                <li class="page_item page-item-10"><a
                                    href="/ywbl?type=2">电费缴纳</a></li>
                                 #{/if}    
                                  #{else}
                                   <li class="page_item page-item-14"><a
                                    href="#" onclick="alert('请先登录系统！');">业务咨询</a></li>
                                <li class="page_item page-item-16"><a
                                    href="#"  onclick="alert('请先登录系统！');">工程服务</a></li>
                                    
                                <li class="page_item page-item-10"><a
                                    href="#"  onclick="alert('请先登录系统！');">电费缴纳</a></li>
                                  #{/else}
                                        
                                
                                <li class="page_item page-item-12"><a
                                    href="/yongdianchangshi/index">用电常识</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #header -->