<div id="slider">
	<div id="slider-core">
		<div class="rslides-container">
			<div class="rslides-inner">
				<ul style="width: 1905px; height: 584.868px;" data-oldwidth="1905"
					data-aspectratio="0.30701754385964913"
					class="slides rslides rslides1">
					<li data-oldwidth="1905" data-aspectratio="0.30701754385964913"
						class=""
						style="display: list-item; transition: opacity 500ms ease-in-out 0s; width: 1905px; height: 584.868px; float: none; position: absolute; opacity: 0; z-index: 1;"
						id="rslides1_s0"><img
						src="@{'public/images/transparent.png'}"
						style="background: url(/public/images/slideshow/slide_demo1.png) no-repeat center; background-size: cover;"
						alt="Demo Image"></li>
					<li class="" data-oldwidth="1905"
						data-aspectratio="0.30701754385964913"
						style="display: list-item; transition: opacity 500ms ease-in-out 0s; width: 1905px; height: 584.868px; float: none; position: absolute; opacity: 0; z-index: 1;"
						id="rslides1_s1"><img
						src="@{'public/images/transparent.png'}"
						style="background: url(/public/images/slideshow/slide_demo2.png) no-repeat center; background-size: cover;"
						alt="Demo Image"></li>
					<li class="rslides1_on" data-oldwidth="1905"
						data-aspectratio="0.30701754385964913"
						style="display: list-item; transition: opacity 500ms ease-in-out 0s; width: 1905px; height: 584.868px; float: left; position: relative; opacity: 1; z-index: 2;"
						id="rslides1_s2"><img src="public/images/transparent.png"
						style="background: url(/public/images/slideshow/slide_demo3.png) no-repeat center; background-size: cover;"
						alt="Demo Image"></li>
				</ul>
				<a href="#" class="rslides_nav rslides1_nav prev"> </a><a href="#"
					class="rslides_nav rslides1_nav next"> </a>
			</div>
		</div>
	</div>
</div>
